html, body {
    max-height: 85vh;
    min-height: -webkit-fill-available;
    overflow: hidden;
}
.search{
    cursor: pointer;
    border: none;
}
.location{
    background-image: url(/resources/images/location.png);
    background-size: cover;
    background-repeat: repeat;
    background-color: transparent;
}
.hidelist{
    visibility: hidden;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Dark semi-transparent effect */
    
    z-index: -1; /* Ensure it's above other elements */
    display: none; /* Initially hidden */
  }
  
  /* Show backdrop when active */
  .backdrop.active {
    display: block;
  }

footer {
    text-align: center;
    padding: 5px;
    background: #f8f9fa;
    flex-shrink: 0;
    width: 100%;
    z-index: 1;
}
footer a {
    font-size: 10px;
}

#map {
    height: 85vh;
    width: 100%;
}

#store-container {
    height: 80%; /* Set height to allow scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden;
    padding-right: 5px;
    position: relative; /* Avoid cut-off due to scrollbar */
}

.store-info-window {
    width: 300px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    overflow: hidden;
    height: 100%;
}

.info-header {
    background: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-title {
    font-weight: bold;
    font-size: 14px;
}

.info-close {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.info-body {
    display: flex;
    padding: 10px;
    align-items: center;
}

.info-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.info-details {
    flex-grow: 1;
    font-size: 12px;
}

.info-details-btn {
    background: black;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.info-details-btn i {
    margin-left: 5px;
}